[Unit]
Description=locast2tuner
After=network-online.target
Wants=network-online.target

[Service]
User=locast2tuner
Group=locast2tuner
ExecStart=/usr/bin/locast2tuner -c /etc/locast2tuner/config --cache_dir /var/lib/locast2tuner

[Install]
WantedBy=multi-user.target
